.text {
    font-size: 12px;
    font-family: sans-serif;
}

.neon {
    height: auto;
    width: 200px;
}

.warning {
    text-align: center;
    border: 1px solid black;
    margin: 21px;
    padding: 9px;
    background-color: gainsboro;
}

.link-a,
.link-b {
    margin: 21px;
}